{% extends 'base.html.twig' %}

{% block title %}Accueil - Mon E-commerce
{% endblock %}

{% block body %}
	<div class="wrapper">
		<h1>Bienvenue sur myPhotoApplication !</h1>
		{{ include('photo/_cards.html.twig', { 'photos': photos }) }}
	</div>
{% endblock %}
